<navbar></navbar>
<div id="assignments-dashboard" class="text-center">
  <div class="row ">
    <div class="main-container ">
      <h1>Assignments</h1>
      <!-- <a class="btn btn-warning" href="https://goo.gl/forms/Ln86IpxzQRCztSXt2">Submit Assignments</a> -->
      <ion-list ng-repeat="(key, value) in $ctrl.assignments | filter: {isAssigned: 'true' } | groupBy: 'dueDate' ">
        <div>
          <h3> Due Date: {{key}}</h3>
        </div>
        <div ng-repeat="event in value | filter: {isAssigned: 'true' } | orderBy: 'assignedNumber*1' ">
          <div class="panel panel-default ">
            <div class="panel-body ">
              <div class="col-xs-1 ">{{event.assignedNumber}}</div>
              <div class="col-xs-3 ">
                <a ng-href="{{event.URL}} " style="color: red; ">{{event.title}}</a>
              </div>
              <div class="col-xs-6 ">{{event.notes}}</div>
              <div class="col-xs-2 ">{{event.dueDate}}</div>
            </div>
          </div>
        </div>
      </ion-list>
    </div>
  </div>
</div>