<div class="main-container ">
  <h1>Students</h1>
  <div class="row">
    <table class="table table-striped">
      <tr class="title-row">
        <th class="text-center">Name</th>
        <th class="text-center">Links</th>
        <th class="text-center">Treehouse Points</th>
        <th class="text-center"></th>
      </tr>
      <tr ng-repeat="student in students">
        <td class="col-xs-3">
          <h3>{{student.name}}</h3>
        </td>
        <td class="col-xs-1 crap">
          <div class="row">
            <!-- <a class="treehouse-link" href="{{student.github}}" target="_blank">
              <i class="fa fa-github fa-2x" aria-hidden="true"></i>
            </a>
            <a class="treehouse-link" href="{{student.biosite}}" target="_blank">
              <i class="fa fa-id-card-o fa-2x" aria-hidden="true"></i>
            </a> -->
            <a class="treehouse-link" href="{{student.treehouse}}" target="_blank">
              <img class="treehouse-img" src="./images/treehouse.png">
            </a>
          </div>
        </td>
        <td class="col-xs-3">
          <span ng-if='student.treehousePoints === "done"'>YAY</span>
          <span ng-if='student.treehousePoints !== "done"'>{{student.treehousePoints}}</span>
        </td>
        <td></td>
      </tr>
    </table>
  </div>
</div>