@import 'styles/_colors';

.GoodStudent {
  .treehouse-img {
    height: 28px;
  }

  .website-link {
    color: $purple;
  }

  a {
    color: $dark-blue;
  }

  .github-link {
    color: $black !important;
  }
}