<navbar></navbar>
<div id="calendar-dashboard" class="text-center">
  <h2 class="text-center">{{ $ctrl.calendarTitle }}</h2>

  <div class="row">

    <div class="col-md-12 text-center">
      <div class="btn-group">

        <button class="btn btn-primary" mwl-date-modifier date="$ctrl.viewDate" decrement="$ctrl.calendarView" ng-click="$ctrl.cellIsOpen = false">
          Previous
        </button>
        <button class="btn btn-default" mwl-date-modifier date="$ctrl.viewDate" set-to-today ng-click="$ctrl.cellIsOpen = false">
          Today
        </button>
        <button class="btn btn-primary" mwl-date-modifier date="$ctrl.viewDate" increment="$ctrl.calendarView" ng-click="$ctrl.cellIsOpen = false">
          Next
        </button>
      </div>
    </div>
  </div>

  <br>

  <mwl-calendar events="$ctrl.events" view="$ctrl.calendarView" view-title="$ctrl.calendarTitle" view-date="$ctrl.viewDate"
    on-event-click="$ctrl.eventClicked(calendarEvent)" cell-is-open="$ctrl.cellIsOpen" day-view-start="06:00" day-view-end="22:59"
    day-view-split="30" cell-auto-open-disabled="true" on-view-change-click="false" on-timespan-click="$ctrl.timespanClicked(calendarDate, calendarCell)">
  </mwl-calendar>

  <br>

  <h2 ng-if="$ctrl.eventDate">Events for {{$ctrl.eventDate.format('LL')}}</h2>
  <div class="selected-events">
    <div class="col-sm-4" ng-repeat="event in $ctrl.selectedEvents">
      <div class="panel" ng-class='{"panel-primary": event.eventType === "lecture", "panel-success": event.eventType === "study", "panel-danger": event.eventType === "vacation", "panel-default": event.eventType === "demo"}'>
        <div class="panel-heading">{{event.title}}</div>
        <div class="panel-body text-left">
          <div ng-if="event.eventType === 'lecture'"><span class="bold-text">Instructor: </span>{{event.instructor}}</div>
          <div><span class="bold-text">Decription: </span>{{event.description}}</div>
          <div ng-if="event.hasPresentation"><span class="bold-text">Presentation: </span><a href="{{event.presentationUrl}}" target="_blank">HERE</a></div>
          <div ng-if="event.isHW"><span class="bold-text">HW Assignment: </span><a href="{{event.hwUrl}}" target="_blank">HERE</a></div>
          <div ng-if="event.hasGithub"><span class="bold-text">Github Repo: </span><a href="{{event.githubRepo}}" target="_blank">HERE</a></div>
        </div>
      </div>
    </div>
  </div>
</div>