.Calendar {
  text-align: center;
  .cal-holder {
    margin-top: 25px;
    background-color: white;
    padding: 15px;
    height: 65vh;
  }
  .rbc-toolbar-label {
    font-size: 30px;
  }
  .bg-purple{
    background-color: #6f42c1!important;
  }

  .border-purple {
      border-color: #6f42c1!important;
  }
}