<navbar></navbar>
<div id="submit-dashboard" class="text-center">
  <div class="main-container ">
    <h1>Assignment Tracker</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Assignments</th>
          <th class="rotate" ng-repeat="student in $ctrl.students | orderBy:'lastName'">
            <div>
              <a ui-sref="student_progress({id: student.uid})">
                <span>{{student.firstName}} {{student.lastName}}</span>
              </a>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="assignment in $ctrl.assignments | orderBy:'assignedNumber'">
          <td>{{assignment.title}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>