<navbar></navbar>
<div id="submit-dashboard" class="text-center">
  <div class="main-container ">
    <h1>Assignment Tracker</h1>
    <table class="table" id="tracker-table">
      <thead>
        <tr>
          <th>Assignments</th>
          <th class="rotate" ng-repeat="student in $ctrl.students">
            <div>
              <a ui-sref="student_progress({id: student.uid})">
                <span>{{student.firstName}} {{student.lastName}}</span>
              </a>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="assignment in $ctrl.assignments">
          <td>{{assignment.details.title}}</td>
          <td ng-repeat="stat in assignment.studentStats track by $index" ng-class='{"success": stat === "D", "warning": stat === "P" , "danger": stat === "X", "royal": stat === "E"}'>{{stat}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>