<navbar></navbar>
<div id="student-dashboard" class="text-center">
  <div>
    <div class="row">
      <div class="jumbotron">
        <div class="row">
          <div class="col-xs-9">
            <h1>Student: {{$ctrl.student.firstName}} {{$ctrl.student.lastName}}</h1>
          </div>
          <div class="col-xs-3">
            <div class="col-xs-4">
              <a class="treehouse-link" href="{{$ctrl.student.treehouse}}" target="_blank">
                <img class="treehouse-img" src="./img/treehouse.png">
              </a>
            </div>
            <div class="col-xs-4">
              <a class="github-link" href="{{$ctrl.student.github}}" target="_blank">
                <i class="fab fa-github fa-2x"></i>
              </a>
            </div>
            <div class="col-xs-4">
              <a class="website-link" href="{{$ctrl.student.biosite}}" target="_blank">
                <i class="fas fa-address-book fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="col-xs-4">
            Completed Assignments:
            <br>
            {{$ctrl.completedAssignmentNum}}/{{$ctrl.assignments.length-$ctrl.excusedAssignmentNum}} = 
            {{($ctrl.completedAssignmentNum/($ctrl.assignments.length-$ctrl.excusedAssignmentNum)*100).toFixed("0")}}%
          </div>
          <div class="col-xs-4">
            In Progress Assignments: 
            <br>
            {{$ctrl.progressAssignmentNum}}/{{$ctrl.assignments.length-$ctrl.excusedAssignmentNum}} = 
            {{($ctrl.progressAssignmentNum/($ctrl.assignments.length-$ctrl.excusedAssignmentNum)*100).toFixed("0")}}%
          </div>
          <div class="col-xs-4">
            Un-started Assignments: 
            <br>
            {{$ctrl.freshAssignmentNum}}/{{$ctrl.assignments.length-$ctrl.excusedAssignmentNum}} = 
            {{($ctrl.freshAssignmentNum/($ctrl.assignments.length-$ctrl.excusedAssignmentNum)*100).toFixed("0")}}%
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <h3>Assignments:</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Due Date</th>
            <th scope="col">Status</th>
            <th scope="col">Date Submitted</th>
            <th scope="col">Github Repo</th>
            <th scope="col">Excuse</th>
            <th scope="col">Reset</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="assignment in $ctrl.assignments | orderBy:'assignedNumber'" ng-class='{"success": assignment.status === "done", "warning": assignment.status === "inProgress" , "danger": assignment.status === "backlog", "royal": assignment.status === "excused"}'>
            <th scope="row">{{assignment.title}}</th>
            <th scope="row">{{assignment.dueDate}}</th>
            <th scope="row">{{assignment.status}}</th>
            <th scope="row">{{assignment.submissionDate | date:'medium'}}</th>
            <th scope="row">
              <a ng-if="assignment.githubUrl" target="_blank" href="{{assignment.githubUrl}}">
                <i class="fab fa-github"></i>
              </a>
            </th>
            <th scope="row">
              <button ng-if="!(assignment.status === 'done')" class="btn btn-default" ng-click="$ctrl.excuseAssignment(assignment)">
                <i class="far fa-pause-circle"></i>
              </button>
            </th>
            <th scope="row">
              <button ng-if="assignment.status === 'done'" class="btn btn-danger" ng-click="$ctrl.resetAssignment(assignment)">
                <i class="fas fa-undo"></i>
              </button>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>