<tbody>
  <tr ng-repeat="assignment in assignments | orderBy:'assignedNumber'" ng-class='{"success": assignment.status === "done", "warning": assignment.status === "inProgress" , "danger": assignment.status === "backlog", "royal": assignment.status === "excused"}'>
    <th scope="row" class='text-nowrap'>
      <a ng-href="{assignment.URL}" target="_blank" rel="noopener noreferrer">{assignment.title}</a>
    </th>
    <th scope="row">{assignment.dueDate}</th>
    <th scope="row">{assignment.status}</th>
    <th scope="row">{assignment.submissionDate}</th>
    {/* <th scope="row">{assignment.submissionDate | date:'M/d/yy h:mm a'}</th> */}
    <th scope="row" class="text-center">
      <a ng-if="assignment.githubUrl" target="_blank" rel="noopener noreferrer" href="{assignment.githubUrl}">
        <i class="fab fa-github fa-lg"></i>
      </a>
    </th>
    <th scope="row">
      <button ng-if="!(assignment.status === 'done') && !(assignment.status === 'excused')" class="btn btn-default" ng-click="excuseAssignment(assignment)">
        <i class="fas fa-pause"></i>
      </button>
    </th>
    <th scope="row">
      <button ng-if="assignment.status === 'done'" class="btn btn-danger" ng-click="resetAssignment(assignment)">
        <i class="fas fa-undo"></i>
      </button>
    </th>
  </tr>
</tbody>