.Submit {
  .App {
    text-align: center;
    width: 95%;
    margin: 15px auto;
  }

  .backlog {
    background-color: #EEEEEE;
    border: 5px dotted pink;
  }

  .inProgress {
    background-color: #EEEEEE;
    border: 5px dotted green;
  }

  .done {
    background-color: #EEEEEE;
    border: 5px dotted orange;
  }

  .task-header {
    display: inline-block;
    background-color: skyblue;
    width:100%;
  }

  .draggable {
    width: 100px;
    height: 100px;
    background-color: yellow;
    margin: 5px auto;
    line-height: 5em;
  }
}