.ClassSelector{
  display: block;

  .row {
    padding-top: 100px;
  }

  .btn {
    height: 200px;
    color: black !important;
    font-weight: 900;
    font-size: 40px;
    line-height: 180px;
  }
}